{{message}}
<br>
<h1>Shopping Cart</h1>
<ul class="cart-item-container">
   <li class="cart-item" ng-repeat = "item in shoppingCart">
      <span class="cart-quantity"><input name="cart-product-quantity-{{productID}}" value="{{item.cartQty}}" type="text" placeholder="Qty" size="3" maxlength="3"></input></span>
      <span class="cart-image"><img src='{{item.image}}'></span>
      <span class="cart-name">{{item.name}} ({{productID}})</span>
      <div class="cart-description">{{item.description}}</div>
      <span class="cart-price">{{item.price | currency}}</span>
      <span class="cart-update-btn-wrapper"><a href="#Cart/Update/{{productID}}"><button name="cart-update-btn-{{productID}}" class="cart-update-btn">Update</button></a></span>
      <span class="cart-remove-btn-wrapper"><a href="#Cart/Remove/{{productID}}"><button name="cart-remove-btn-{{productID}}" class="cart-remove-btn">Remove</button></a></span>
   </li>
</ul>
