{{message}}
  <div class="product-card" ng-model="products">
  <!-- <div class="product-card" ng-repeat="product in products"> -->
  <!-- <div class="product-card" ng-repeat="product in products | filter:{'productID': 0}:true}"> -->
   <div class="product-card-detail-container">
     <div class="details-image"><img src='{{products[productID].image}}'></div>
     <div class="details-name">{{products[productID].name}} ({{productID}})</div>
     <div class="details-price">{{products[productID].price | currency}}</div>
     <div class="details-description">{{products[productID].description}}</div>
     <br>
     <div class="details-reviews" ng-repeat="review in products[productID].reviews">
       <br>
       <div>{{review.author}}</div>
       <div>Stars: {{review.rating}}</div>
       <div>{{review.review}}</div>
     </div>
     <br>
   </div>
  </div>
  <a href="#ProductView"><button class="details-back">Back to Items</button></a>
  <a href="#Cart/{{productID}}" ng-click = "addToCart(productID)"><button class="details-card">Add to Cart</button></a>
    <!-- <a href="#Cart/{{productID}}"><button class="details-card">Add to Cart</button></a> -->
</div>
