{{message}}<!-- test messagae -->
<br>
<h1>Product Details</h1>
<div class="details-product-card">
<!-- <div class="product-card" ng-repeat="product in products"> -->
<!-- <div class="product-card" ng-repeat="product in products | filter:{'productID': 0}:true}"> -->
 <div class="product-card-detail-container">
   <div class="details-image"><img src='{{products[productID].image}}'></div>
   <div class="details-name">{{products[productID].name}} ({{productID}})</div>
   <div class="details-price">{{products[productID].price | currency}}</div>
   <div class="details-description">{{products[productID].description}}</div>
   <br>
   <div class="details-review-container">
     <ul class="details-review-wrapper" ng-repeat="review in products[productID].reviews">
       <li class="details-review-data-wrapper">
         <div class="details-review-author">Author:</div>
         <div> {{review.author}}</div>
       </li>
       <li class="details-review-data-wrapper">
         <div class="details-review-rating">Rating:</div>
         <div> {{review.rating}} Stars</div>
       </li>
       <li class="details-review-data-wrapper">
         <div class="details-review-text">Review:</div>
         <br>
         <div>{{review.review}}</div>
       </li>
     </ul>
   </div>
   <br>
 </div>
</div>
<div class="details-btn-container">
  <a href="#ProductView"><button class="details-back">Back to Items</button></a>
  <a href="#Cart/{{productID}}" ><button class="details-card">Add to Cart</button></a>
</div>
