<h1>{{message}}</h1><!-- test messagae -->
<!-- <br> -->
   <div class="product-card" ng-repeat="product in products">
      <a href = "#Details/{{product.productID}}">
        <div class="product-card-detail-container">
          <div class="details-image"><img src='{{product.image}}'></div>
          <div class="details-name">{{product.name}}</div>
          <div class="details-price">{{product.price | currency}}</div>
          <div class="details-description">{{product.description}}</div>
          <!-- <br>
          <div class="details-reviews" ng-repeat="review in product.reviews">
            <br>
            <div>{{review.author}}</div>
            <div>Stars: {{review.rating}}</div>
            <div>{{review.review}}</div>
          </div>
          <br> -->
        </div>
      </a>
   </div>
