$background-color: #eee;
$font-family: 'Helvetica', sans-serif;
$primary-color: #59ABE3;
$secondary-color: #E74C3C;
$font-color: #22313F;

//Styles for all the content:

html {
   font-family: $font-family;
   background-color: $background-color;
   font-size: 1em;
   color: $font-color;
}

body {

   .nav-links {
      text-decoration: none;
      color: $font-color;
   }
   .nav-links:hover{
      text-decoration: underline;
   }
   a {
      padding: 0 0.5em;
   }
}

//styles for header

header {
   font-size: 2em;
   text-align: center;
   padding: 1.5em;
   background-color: $primary-color;
   display: inline-block;
   display: flex;
   justify-content: space-between;
   h1{
   }
   .right-nav {
      font-size: 0.7em;
   }
   .left-nav {
      font-size: 0.7em;
   }
}

footer {
   font-size: 1em;
   text-align: center;
   padding: 1.5em;
   background-color: $primary-color;
   display: flex;
   justify-content: space-between;
   .right-nav{

   }
   .left-nav {

   }

}

// styling for product-view page:

.column-container {
   margin: auto;
   margin-left: 10%;
   display: inline-block;
}

.product-card {
   border: 1px solid red;
   width: 40%;
   display: inline-block;
   text-align: center;
   text-decoration: none;
   color: $font-color;
   .details-name {
      font-size: 2em;
      margin-top: 1em;
   }
   .details-price {
      font-size: 1.5em;
      margin-top: 0.5em;
   }
   .details-description {
      font-size: 1em;
      margin-top: 0.5em;
   }
}

//styling for details page

.details-card {
}

.details-image {
   width: 300px;
}

.button {
   background-color: $secondary-color;
   border: 3px solid $secondary-color;
   border-radius: 3px;
   color: $font-color;
   margin-bottom: 1em;
}

//styline for cart page:

.cart-nav {
   display: flex;
   justify-content: space-around;
   margin-top: 1em;
}

.cart-list {
   margin-left: 2em;
}

.close {
   padding: 0.2em;
}
